

  <!-- ======= Breadcrumbs Section ======= -->
  <mdb-breadcrumb>
    <mdb-breadcrumb-item class="blue-text">Home</mdb-breadcrumb-item>
    <mdb-breadcrumb-item class="blue-text">Library</mdb-breadcrumb-item>
    <mdb-breadcrumb-item class="active">Data</mdb-breadcrumb-item>
  </mdb-breadcrumb><!-- Breadcrumbs Section -->

  <mdb-card>
    <mdb-card-body >

      <!-- Grid row -->
<div class="row">

  <!-- Grid column -->
  <div class="col-lg-7 col-md-12 mb-3">

    <img src="assets/images/1.jpg" class="img-fluid z-depth-1 w-100" alt="Responsive image">

  </div>
  <!-- Grid column -->

</div>
<!-- Grid row -->

<!-- Grid row -->
<div class="row">

  <!-- Grid column -->
  <div class="col-lg-4 col-md-12 mb-3">

    <img src="assets/images/1.jpg" class="img-fluid z-depth-1"
      alt="Responsive image">

  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-lg-4 col-md-6 mb-3">

    <img src="assets/images/2.jpg" class="img-fluid z-depth-1"
      alt="Responsive image">

  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-lg-4 col-md-6 mb-3">

    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img(117).jpg" class="img-fluid z-depth-1"
      alt="Responsive image">

  </div>
  <!-- Grid column -->

</div>
<!-- Grid row -->

<!-- Grid row -->
<div class="row">

  <!-- Grid column -->
  <div class="col-md-6 mb-3">

    <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img(117).jpg" class="img-fluid z-depth-1"
      alt="Responsive image">

  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-md-6 mb-3">

    <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img(129).jpg" class="img-fluid z-depth-1"
      alt="Responsive image">

  </div>
  <!-- Grid column -->

</div>
<!-- Grid row -->

    </mdb-card-body>
    <mdb-card-footer>
      <h2>This is an example of portfolio detail</h2>
      <p>
        Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
      </p>
    </mdb-card-footer>

  </mdb-card>




