<div class="container">



  <!-- ======= Breadcrumbs Section ======= -->
  <mdb-breadcrumb class="bg-info clearfix">
    <mdb-breadcrumb-item class="blue-text">Gallery</mdb-breadcrumb-item>
    <mdb-breadcrumb-item class="blue-text">Conroe</mdb-breadcrumb-item>
    <mdb-breadcrumb-item class="active float-right">Details Conroe</mdb-breadcrumb-item>
  </mdb-breadcrumb>

  <mdb-card>

    <mdb-card-body>
      <div class="row">

        <div class="col-md-4 mx-auto my-3" *ngFor="let item of _album; ; let i=index">
          <a><img (click)="open(i)" class="img-fluid z-depth-1"
                  [src]="item.srcUrl"
                  alt=""></a>
        </div>


      </div>
    </mdb-card-body>

    <mdb-card-footer>
      <div class="portfolio-description">
        <h2 >This is an example of portfolio detail</h2>
        <p style="margin-left: 1%;">
          Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
        </p>
      </div>
    </mdb-card-footer>





  </mdb-card>



  <!-- <div class="row">
    <div class="col-md-4 mx-auto my-5">
      <a><img (click)="video4.show()" class="img-fluid z-depth-1"
              src="https://mdbootstrap.com/img/screens/yt/screen-video-4.jpg"
              alt="video"></a>
    </div>

    <div class="col-md-4 mx-auto my-5">
      <a><img (click)="video5.show()" class="img-fluid z-depth-1"
              src="https://mdbootstrap.com/img/screens/yt/screen-video-5.jpg"
              alt="video"></a>
    </div>

    <div class="col-md-4 mx-auto my-5">
      <a><img (click)="video6.show()" class="img-fluid z-depth-1"
              src="https://mdbootstrap.com/img/screens/yt/screen-video-6.jpg"
              alt="video"></a>
    </div>
  </div> -->

