<mdb-card >

  <mdb-card-header>
    About
    Committed to Education
  </mdb-card-header>
          
    <mdb-card-body>
      
      Over the years, our reputation has grown as our professionalism go on to become knowledgeable in the field. 
      Through engaging and hands-on educational opportunities, Nay's Hair Braiding School wants to cultivates future industry leaders.
       If this is what you’re looking for, please don’t hesitate to get in touch to learn more and join our growing community.
    </mdb-card-body>
  
</mdb-card>
