
  <div class="row">
    <div class="col-md-2">
      <ul class="list-group">
        <a><li class="list-group-item" routerLink="programme" [ngClass]="currentActive==4?'active':''" (click)="onProgrammes()">Programmes</li></a>
        <a><li class="list-group-item" routerLink="inscription" [ngClass]="currentActive==5?'active':''" (click)="onInscription()">Inscription</li></a>
          <div class="divider dropdown-divider"></div>
        <a> <li class="list-group-item" routerLink="user" [ngClass]="currentActive==7?'active':''" (click)="onUsers()">Users</li></a>
      </ul>

    </div>

    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div>

  </div>


