<!-- Start your project here-->


  <!-- <header id="header"  class="navbar navbar-expand-lg navbar-dark red container d-flex align-items-center fixed-top "> -->
<mdb-card>

  <mdb-card-header >

        <!-- Just an image fixed-top -->
      <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark dark black" [containerInside]="true">
        <mdb-navbar-brand>
          <a class="navbar-brand" href="#">
              <img src="assets/images/profil1.jpeg" height="60" class="d-inline-block align-top" alt="">

          </a>
      </mdb-navbar-brand>

        <!-- Collapsible content -->
        <links>

          <!-- Links -->
          <ul mdbScrollSpy="scrollspy1" class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a  class="nav-link waves-light" mdbScrollSpyLink="home"  routerLink="/home" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-light"  (click)="onRegister()" routerLinkActive="active" mdbWavesEffect>Registration</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-light" (click)="onGallery()" mdbWavesEffect>Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-light" (click)="onAppointment()" mdbWavesEffect>Appointment</a>
            </li>

            <li class="nav-item">
              <a class="nav-link waves-light" (click)="onAbout()" mdbWavesEffect>About</a>
            </li>


            <!-- Dropdown -->
            <li class="nav-item"  *ngIf="admin == 1">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="/settings">Settings</a>
            </li>

            <li class="nav-item"  *ngIf="admin == 1">
              <a class="nav-link waves-light" mdbWavesEffect routerLink="/scolarite">Scolarite</a>
          </li>

          </ul>
          <!-- Links -->

          <ul class="navbar-nav ml-auto nav-flex-icons">


            <li class="nav-item" *ngIf="username == 0">
              <a class="nav-link">
                <div class="btn-group" mdbDropdown>
                  <mdb-icon fas icon="user"></mdb-icon>
                  <span class="username username-hide-mobile" (click)="frame.show()" >Sign in</span>
                <!--   <div class="dropdown-menu dropdown-menu-right dropdown-primary">
                    <a class="dropdown-item" (click)="onLogout()"></a>
                    <a class="dropdown-item" href="#">Register</a>

                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item" href="#">test</a>
                  </div> -->
                </div>
              </a>
            </li>
            <li class="nav-item" *ngIf="username == 1">
              <a class="nav-link">
                <div class="btn-group" mdbDropdown>
                  <mdb-icon fas icon="user"></mdb-icon>
                  <span class="username username-hide-mobile" mdbDropdownToggle>{{authService.isuserName()}}</span>
                  <div class="dropdown-menu dropdown-menu-right dropdown-primary">
                    <a class="dropdown-item" routerLink="/profil" >Profil</a>
                    <a class="dropdown-item" href="#">Register</a>

                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item" (click)="onLogout()">Disconnection</a>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </links>
        <!-- Collapsible content -->
      </mdb-navbar>
</mdb-card-header>

<div mdbModal #frame="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">

      <div class="modal-dialog" role="document">
        <mdb-card *ngIf="codeError == 1">
          <mdb-card-body  >
            <p class="text-danger"> E-mail et/ou mot de passe incorrects </p>
          </mdb-card-body>
        </mdb-card>

        <p></p>

        <div class="modal-content ">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>

          </div>
          <div class="modal-body mx-3">
            <div class="md-form mb-5">
              <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>
              <input type="email" id="defaultForm-email" [formControl]="loginFormModalEmail" class="form-control"
                    mdbInput mdbValidate>
              <label for="defaultForm-email">Your email</label>
              <mdb-error
                *ngIf="loginFormModalEmail.invalid && (loginFormModalEmail.dirty || loginFormModalEmail.touched)">
                Input invalid
              </mdb-error>
              <mdb-success
                *ngIf="loginFormModalEmail.valid && (loginFormModalEmail.dirty || loginFormModalEmail.touched)">Input
                valid
              </mdb-success>
            </div>

            <div class="md-form mb-4">
              <mdb-icon fas icon="lock" class="prefix grey-text"></mdb-icon>
              <input type="password" id="defaultForm-pass" [formControl]="loginFormModalPassword" class="form-control"
                    mdbInput mdbValidate>
              <label for="defaultForm-pass">Your password</label>
              <mdb-error
                *ngIf="loginFormModalPassword.invalid && (loginFormModalPassword.dirty || loginFormModalPassword.touched)">
                Input invalid
              </mdb-error>
              <mdb-success
                *ngIf="loginFormModalPassword.valid && (loginFormModalPassword.dirty || loginFormModalPassword.touched)">
                Input valid
              </mdb-success>
            </div>

          </div>
          <div class="modal-footer d-flex justify-content-center"  >
            <button mdbBtn color="default" class="waves-light" [ngClass]="{disabled: loginFormModalEmail.invalid && (loginFormModalEmail.dirty || loginFormModalEmail.touched)}"   (click)="onLogin()" (click)="frame.hide()"  mdbWavesEffect>Login</button>
          </div>



    </div>
  </div>
</div>

<!-- div class="gallery-wrapper" >

  <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>

</div> -->

 <mdb-card-body *ngIf="mode == 0">

    <router-outlet></router-outlet>

</mdb-card-body>

<mdb-card-body *ngIf="mode == 1">
  <div class="container ">


      <div class="modal-dialog" role="document">
        <mdb-card *ngIf="codeError == 1">
          <mdb-card-body  >
            <p class="text-danger"> E-mail et/ou mot de passe incorrects </p>
          </mdb-card-body>
        </mdb-card>

        <p></p>

        <div class="modal-content ">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>

          </div>
          <div class="modal-body mx-3">
            <div class="md-form mb-5">
              <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>
              <input type="email" id="defaultForm-email" [formControl]="loginFormModalEmail" class="form-control"
                    mdbInput mdbValidate>
              <label for="defaultForm-email">Your email</label>
              <mdb-error
                *ngIf="loginFormModalEmail.invalid && (loginFormModalEmail.dirty || loginFormModalEmail.touched)">
                Input invalid
              </mdb-error>
              <mdb-success
                *ngIf="loginFormModalEmail.valid && (loginFormModalEmail.dirty || loginFormModalEmail.touched)">Input
                valid
              </mdb-success>
            </div>

            <div class="md-form mb-4">
              <mdb-icon fas icon="lock" class="prefix grey-text"></mdb-icon>
              <input type="password" id="defaultForm-pass" [formControl]="loginFormModalPassword" class="form-control"
                    mdbInput mdbValidate>
              <label for="defaultForm-pass">Your password</label>
              <mdb-error
                *ngIf="loginFormModalPassword.invalid && (loginFormModalPassword.dirty || loginFormModalPassword.touched)">
                Input invalid
              </mdb-error>
              <mdb-success
                *ngIf="loginFormModalPassword.valid && (loginFormModalPassword.dirty || loginFormModalPassword.touched)">
                Input valid
              </mdb-success>
            </div>

          </div>
          <div class="modal-footer d-flex justify-content-center"  >
            <button mdbBtn color="default" class="waves-light" [ngClass]="{disabled: loginFormModalEmail.invalid && (loginFormModalEmail.dirty || loginFormModalEmail.touched)}"   (click)="onLogin()"  mdbWavesEffect>Login</button>
          </div>

        </div>
      </div>

</div>

</mdb-card-body>

<mdb-card-body *ngIf="mode == 9">

  <div class="container ">

  <mdb-card >

    <mdb-card-header class="info-color white-text text-center py-4">
      <h5>
        <strong>Sign in</strong>
      </h5>
    </mdb-card-header>


    <!--Card content-->
    <mdb-card-body class="px-lg-5 pt-0">

      <!-- Form -->


        <!-- Email -->
        <div class="md-form">
          <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>
          <input type="email" id="defaultForm-email" [formControl]="loginFormModalEmail" class="form-control"
                 mdbInput mdbValidate>
          <label for="defaultForm-email">Your email</label>
          <mdb-error
            *ngIf="loginFormModalEmail.invalid && (loginFormModalEmail.dirty || loginFormModalEmail.touched)">
            Input invalid
          </mdb-error>
          <mdb-success
            *ngIf="loginFormModalEmail.valid && (loginFormModalEmail.dirty || loginFormModalEmail.touched)">Input
            valid
          </mdb-success>
        </div>

        <!-- Password -->
        <div class="md-form">
          <mdb-icon fas icon="lock" class="prefix grey-text"></mdb-icon>
          <input type="password" id="defaultForm-pass" [formControl]="loginFormModalPassword" class="form-control"
                 mdbInput mdbValidate>
          <label for="defaultForm-pass">Your password</label>
          <mdb-error
            *ngIf="loginFormModalPassword.invalid && (loginFormModalPassword.dirty || loginFormModalPassword.touched)">
            Input invalid
          </mdb-error>
          <mdb-success
            *ngIf="loginFormModalPassword.valid && (loginFormModalPassword.dirty || loginFormModalPassword.touched)">
            Input valid
          </mdb-success>
        </div>

        <div class="d-flex justify-content-around">
          <div>
            <!-- Remember me -->
            <mdb-checkbox>Remember me</mdb-checkbox>
          </div>
          <div>
            <!-- Forgot password -->
            <a href="">Forgot password?</a>
          </div>
        </div>

        <!-- Sign in button -->
        <button mdbBtn color="default" outline="true" rounded="true" block="true" [ngClass]="{disabled: loginFormModalEmail.invalid && (loginFormModalEmail.dirty || loginFormModalEmail.touched)}"
          (click)="onLogin()" class="my-2 waves-effect z-depth-0" mdbWavesEffect
          type="submit" >Login</button>

        <!-- Register -->
       <!--  <p>Not a member?
          <a href="">Register</a>
        </p> -->

        <!-- Social login -->
     <!--    <p>or sign in with:</p>
        <a type="button" mdbBtn floating="true" color="fb" size="sm">
          <mdb-icon fab icon="facebook"></mdb-icon>
        </a>
        <a type="button" mdbBtn floating="true" color="tw" size="sm">
          <mdb-icon fab icon="twitter"></mdb-icon>
        </a>
        <a type="button" mdbBtn floating="true" color="li" size="sm">
          <mdb-icon fab icon="linkedin"></mdb-icon>
        </a>
        <a type="button" mdbBtn floating="true" color="git" size="sm">
          <mdb-icon fab icon="github"></mdb-icon>
        </a>
 -->


    </mdb-card-body>

  </mdb-card>
  <!-- Material form login -->
</div>


</mdb-card-body>

<mdb-card-footer>


      <!-- Footer -->
      <footer class="page-footer font-small blue-grey lighten-5 ">

        <div style="background-color: #21d192;">
          <div class="container">

            <!-- Grid row-->
            <div class="row py-4 d-flex align-items-center">

              <!-- Grid column -->
              <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                <h6 class="mb-0">Get connected with us on social networks!</h6>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-6 col-lg-7 text-center text-md-right">

                <!-- Facebook -->
                <a class="fb-ic">
                  <mdb-icon fab icon="facebook" class="white-text mr-4"></mdb-icon>
                </a>
                <!-- Twitter -->
                <a class="tw-ic">
                  <mdb-icon fab icon="twitter" class="white-text mr-4"></mdb-icon>
                </a>
                <!-- Google +-->
                <a class="gplus-ic">
                  <mdb-icon fab fab icon="google-plus" class="white-text mr-4"></mdb-icon>
                </a>
                <!--Linkedin -->
                <a class="li-ic">
                  <mdb-icon fab icon="linkedin" class="white-text mr-4"></mdb-icon>
                </a>
                <!--Instagram-->
                <a class="ins-ic">
                  <mdb-icon fab icon="instagram" class="white-text mr-4"></mdb-icon>
                </a>

              </div>
              <!-- Grid column -->

            </div>
            <!-- Grid row-->

          </div>
        </div>

        <!-- Footer Links -->
        <div class="container text-center text-md-left mt-5">

          <!-- Grid row -->
          <div class="row mt-3 dark-grey-text">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

              <!-- Content -->
              <h6 class="text-uppercase font-weight-bold">Nay's Hair Brainding</h6>
              <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet, consectetur adipisicing
                elit.
              </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
   <!--          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">


              <h6 class="text-uppercase font-weight-bold">Products</h6>
              <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>
                <a class="dark-grey-text" href="#!">MDBootstrap</a>
              </p>
              <p>
                <a class="dark-grey-text" href="#!">MDWordPress</a>
              </p>
              <p>
                <a class="dark-grey-text" href="#!">BrandFlow</a>
              </p>
              <p>
                <a class="dark-grey-text" href="#!">Bootstrap Angular</a>
              </p>

            </div> -->
            <!-- Grid column -->

            <!-- Grid column -->
<!--             <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">


              <h6 class="text-uppercase font-weight-bold">Useful links</h6>
              <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>
                <a class="dark-grey-text" href="#!">Your Account</a>
              </p>
              <p>
                <a class="dark-grey-text" href="#!">Become an Affiliate</a>
              </p>
              <p>
                <a class="dark-grey-text" href="#!">Shipping Rates</a>
              </p>
              <p>
                <a class="dark-grey-text" href="#!">Help</a>
              </p>

            </div> -->
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

              <!-- Links -->
              <h6 class="text-uppercase font-weight-bold">Contact</h6>
              <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>
                <mdb-icon fas icon="home" class="mr-1"></mdb-icon>3128 Richmond road Lexington Kentucky 40509
              </p>
              <p>
                <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon> ndeyesambousarr@gmail.com
              </p>
              <p>
                <mdb-icon fas icon="phone" class="mr-3"></mdb-icon> + 01 859 33 56 006
              </p>
              <p>
                <mdb-icon fas icon="print" class="mr-3"></mdb-icon> + 01 859 33 56 006
              </p>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center text-black-50 py-3">© 2020 Copyright:
          <a class="dark-grey-text"> abousow798@gmail.com</a>
        </div>
        <!-- Copyright -->

      </footer>
      <!-- Footer -->
      <!-- Footer -->

    </mdb-card-footer>


</mdb-card>




  <!-- /Start your project here-->
