<!-- Start your project here-->

<mdb-card >
  <!-- <header id="header"  class="navbar navbar-expand-lg navbar-dark red container d-flex align-items-center fixed-top "> -->


  <mdb-card-header >

        <!-- Just an image fixed-top -->
      <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark red" [containerInside]="true">
        <mdb-navbar-brand>
          <a class="navbar-brand" href="#">
              <img src="assets/images/gallery/logo.jpeg" height="60" class="d-inline-block align-top" alt="">

          </a>
      </mdb-navbar-brand>

        <!-- Collapsible content -->
        <links>

          <!-- Links -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link waves-light"  routerLink="/home" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-light" routerLink="/newEtudiant" routerLinkActive="active" mdbWavesEffect>Registration</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-light" routerLink="/gallery" mdbWavesEffect>Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-light" routerLink="/agenda" mdbWavesEffect>Appointment</a>
            </li>

            <li class="nav-item">
              <a class="nav-link waves-light" routerLink="/about" mdbWavesEffect>About</a>
            </li>


            <!-- Dropdown -->
            <li class="nav-item"  *ngIf="admin == 1">

                <a class="nav-link waves-light" mdbWavesEffect routerLink="/settings">Settings</a>

            </li>

          </ul>
          <!-- Links -->

          <ul class="navbar-nav ml-auto nav-flex-icons">


            <li class="nav-item" *ngIf="username == 0">
              <a class="nav-link">
                <div class="btn-group" mdbDropdown>
                  <mdb-icon fas icon="user"></mdb-icon>
                  <span class="username username-hide-mobile"  (click)="login()">Sign in</span>
                <!--   <div class="dropdown-menu dropdown-menu-right dropdown-primary">
                    <a class="dropdown-item" (click)="onLogout()"></a>
                    <a class="dropdown-item" href="#">Register</a>

                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item" href="#">test</a>
                  </div> -->
                </div>
              </a>
            </li>
            <li class="nav-item" *ngIf="username == 1">
              <a class="nav-link">
                <div class="btn-group" mdbDropdown>
                  <mdb-icon fas icon="user"></mdb-icon>
                  <span class="username username-hide-mobile" mdbDropdownToggle>{{authService.isuserName()}}</span>
                  <div class="dropdown-menu dropdown-menu-right dropdown-primary">
                    <a class="dropdown-item" (click)="onLogout()">Profil</a>
                    <a class="dropdown-item" href="#">Register</a>

                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item" (click)="onLogout()">Disconnection</a>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </links>
        <!-- Collapsible content -->
      </mdb-navbar>
</mdb-card-header>

 <mdb-card-body>




  <div class="container " *ngIf="mode == 0">


  <router-outlet></router-outlet>

  </div>

  <!-- Start Login-->
<!-- Material form login -->
<div class="container " *ngIf="mode == 1">
<mdb-card >

  <mdb-card-header class="info-color white-text text-center py-4">
    <h5>
      <strong>Sign in</strong>
    </h5>
  </mdb-card-header>


  <!--Card content-->
  <mdb-card-body class="px-lg-5 pt-0">

    <!-- Form -->
    <form class="text-center" style="color: #757575;" (ngSubmit)="onLogin(form.value)" #form="ngForm">

      <!-- Email -->
      <div class="md-form">
        <input type="email" ngModel="" name="login" id="materialLoginFormEmail" class="form-control" mdbInput>
        <label for="materialLoginFormEmail">E-mail</label>
      </div>

      <!-- Password -->
      <div class="md-form">
        <input type="password" ngModel="" name="password" id="materialLoginFormPassword" class="form-control" mdbInput>
        <label for="materialLoginFormPassword">Password</label>
      </div>

      <div class="d-flex justify-content-around">
        <div>
          <!-- Remember me -->
          <mdb-checkbox>Remember me</mdb-checkbox>
        </div>
        <div>
          <!-- Forgot password -->
          <a href="">Forgot password?</a>
        </div>
      </div>

      <!-- Sign in button -->
      <button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0" mdbWavesEffect
        type="submit" >Sign in</button>

      <!-- Register -->
      <p>Not a member?
        <a href="">Register</a>
      </p>

      <!-- Social login -->
      <p>or sign in with:</p>
      <a type="button" mdbBtn floating="true" color="fb" size="sm">
        <mdb-icon fab icon="facebook"></mdb-icon>
      </a>
      <a type="button" mdbBtn floating="true" color="tw" size="sm">
        <mdb-icon fab icon="twitter"></mdb-icon>
      </a>
      <a type="button" mdbBtn floating="true" color="li" size="sm">
        <mdb-icon fab icon="linkedin"></mdb-icon>
      </a>
      <a type="button" mdbBtn floating="true" color="git" size="sm">
        <mdb-icon fab icon="github"></mdb-icon>
      </a>

    </form>
    <!-- Form -->

  </mdb-card-body>

</mdb-card>
<!-- Material form login -->

</div>
  <!-- End Login-->

  </mdb-card-body>

  <mdb-card-footer>


      <!-- Footer -->
      <footer class="page-footer font-small blue-grey lighten-5 ">

        <div style="background-color: #21d192;">
          <div class="container">

            <!-- Grid row-->
            <div class="row py-4 d-flex align-items-center">

              <!-- Grid column -->
              <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                <h6 class="mb-0">Get connected with us on social networks!</h6>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-6 col-lg-7 text-center text-md-right">

                <!-- Facebook -->
                <a class="fb-ic">
                  <mdb-icon fab icon="facebook" class="white-text mr-4"></mdb-icon>
                </a>
                <!-- Twitter -->
                <a class="tw-ic">
                  <mdb-icon fab icon="twitter" class="white-text mr-4"></mdb-icon>
                </a>
                <!-- Google +-->
                <a class="gplus-ic">
                  <mdb-icon fab fab icon="google-plus" class="white-text mr-4"></mdb-icon>
                </a>
                <!--Linkedin -->
                <a class="li-ic">
                  <mdb-icon fab icon="linkedin" class="white-text mr-4"></mdb-icon>
                </a>
                <!--Instagram-->
                <a class="ins-ic">
                  <mdb-icon fab icon="instagram" class="white-text mr-4"></mdb-icon>
                </a>

              </div>
              <!-- Grid column -->

            </div>
            <!-- Grid row-->

          </div>
        </div>

        <!-- Footer Links -->
        <div class="container text-center text-md-left mt-5">

          <!-- Grid row -->
          <div class="row mt-3 dark-grey-text">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

              <!-- Content -->
              <h6 class="text-uppercase font-weight-bold">Nay's Hair Brainding</h6>
              <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet, consectetur adipisicing
                elit.
              </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

              <!-- Links -->
              <h6 class="text-uppercase font-weight-bold">Products</h6>
              <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>
                <a class="dark-grey-text" href="#!">MDBootstrap</a>
              </p>
              <p>
                <a class="dark-grey-text" href="#!">MDWordPress</a>
              </p>
              <p>
                <a class="dark-grey-text" href="#!">BrandFlow</a>
              </p>
              <p>
                <a class="dark-grey-text" href="#!">Bootstrap Angular</a>
              </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

              <!-- Links -->
              <h6 class="text-uppercase font-weight-bold">Useful links</h6>
              <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>
                <a class="dark-grey-text" href="#!">Your Account</a>
              </p>
              <p>
                <a class="dark-grey-text" href="#!">Become an Affiliate</a>
              </p>
              <p>
                <a class="dark-grey-text" href="#!">Shipping Rates</a>
              </p>
              <p>
                <a class="dark-grey-text" href="#!">Help</a>
              </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

              <!-- Links -->
              <h6 class="text-uppercase font-weight-bold">Contact</h6>
              <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>
                <mdb-icon fas icon="home" class="mr-3"></mdb-icon> New York, 3128 Richmond road Lexington Kentucky 40509
              </p>
              <p>
                <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon> ndeyesambousarr@gmail.com
              </p>
              <p>
                <mdb-icon fas icon="phone" class="mr-3"></mdb-icon> + 01 859 33 56 006
              </p>
              <p>
                <mdb-icon fas icon="print" class="mr-3"></mdb-icon> + 01 859 33 56 006
              </p>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center text-black-50 py-3">© 2020 Copyright:
          <a class="dark-grey-text"> abousow798@gmail.com</a>
        </div>
        <!-- Copyright -->

      </footer>
      <!-- Footer -->
      <!-- Footer -->

    </mdb-card-footer>


  </mdb-card>


  <!-- /Start your project here-->
