<mdb-breadcrumb>
  <mdb-breadcrumb-item class="blue-text">Home</mdb-breadcrumb-item>
  <mdb-breadcrumb-item class="blue-text">Library</mdb-breadcrumb-item>
  <mdb-breadcrumb-item class="active">Data</mdb-breadcrumb-item>
</mdb-breadcrumb>

<form [formGroup]="cardFormGroup">
<mdb-card>

  <mdb-card-body>

    <div class="form-row">
      <div class="col-md-3">
        <!-- Material input -->
        <div class="md-form form-group">
          <input mdbInput type="text" class="form-control" id="inputNameExpiraty" formControlName="expiratyDate"  placeholder="">
          <label for="inputExpiraty4MD">First Name</label>
        </div>
      </div>
      <div class="col-md-3">
        <!-- Material input -->
        <div class="md-form form-group">
          <input mdbInput type="text" class="form-control" id="inputNameCvv" formControlName="cvv"  placeholder="">
          <label for="inputCvv4MD">Last Name</label>
        </div>
      </div>

      <div class="col-md-3">
        <!-- Material input -->
        <div class="md-form form-group">
          <select class="browser-default custom-select">
            <option selected>Programme</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>

      <div class="col-md-3">
        <!-- Material input -->
        <div class="md-form form-group">
          <select class="browser-default custom-select">
            <option selected>Classe</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>

    </div>
  </mdb-card-body>
  <mdb-card-footer>

    <button>Rechercher</button>

  </mdb-card-footer>



</mdb-card>

</form>


  <div class="row">
    <div class="col-md-12 mx-auto">
      <div class="md-form">
        <input
          type="text"
          [(ngModel)]="searchText"
          class="form-control"
          (keyup)="searchItems()"
          id="search"
          mdbInput
        />
        <label for="search">sort by ...</label>
      </div>
    </div>



  </div>

  <table mdbTable #tableEl="mdbTable" responsive="true" stickyHeader="true" hover="true"  class="z-depth-1">
    <thead class="sticky-top">
    <tr>
      <th *ngFor="let head of headElements; let i = index" [mdbTableSort]="etudiants" [sortBy]="headElements[i]"
          scope="col">{{head | titlecase}} <mdb-icon fas icon="sort"></mdb-icon>
      </th>
    </tr>
    </thead>
    <tbody #row *ngIf="etudiants">
    <tr mdbTableCol  *ngFor="let el of etudiants; let i = index">
      <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" scope="row">{{el.firstName}}</th>
      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" >{{el.lastName}}</td>
      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.address}}</td>
      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.email}}</td>
      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.tel}}</td>
      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">

        <h5 *ngIf="el.feesPays == false" class="text-center text-danger">Unpaid</h5>
        <h5 *ngIf="el.feesPays == true" class="text-center text-success">Paid</h5>

      </td>

      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">



       <!-- Grid row -->
   <div class="form-row">
    <!-- Grid column -->
    <div class="col-md-2">
      <a (click)="onDetails(el.id)"> <mat-icon svgIcon="view" aria-hidden="false" aria-label="Example thumbs up SVG icon" ></mat-icon> </a>
    </div>

    <div class="col-md-2">

    </div>

    <div class="col-md-2">
      <a> <mat-icon svgIcon="edit" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon> </a>
    </div>

    <div class="col-md-2">

    </div>

    <div class="col-md-2">
      <a> <mat-icon svgIcon="delete" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon> </a>
    </div>

   </div>


        <!-- <button mdbBtn color="warning" size="" mdbWavesEffect (click)="editRow(el)">Edit</button>
        <button mdbBtn color="danger" size="sm" mdbWavesEffect (click)="removeRow1(el)">R</button>
        <button mdbBtn color="danger" size="sm" mdbWavesEffect (click)="removeRow1(el)">view</button> -->
      </td>

    </tr>
    </tbody>
    <tfoot class="grey lighten-5 w-100">
    <tr>
      <td colspan="4">

        <mdb-table-pagination [tableEl]="tableEl" paginationAlign="paginator" [searchDataSource]="etudiants" ></mdb-table-pagination>
      </td>
    </tr>
    </tfoot>
  </table>



















