
<div class="container">
  <mdb-breadcrumb>
    <mdb-breadcrumb-item class="blue-text">Scolarite</mdb-breadcrumb-item>
    <mdb-breadcrumb-item class="blue-text">Classe</mdb-breadcrumb-item>
    <mdb-breadcrumb-item class="active">List Classes</mdb-breadcrumb-item>
  </mdb-breadcrumb>

   <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="md-form">
          <input type="text" class="form-control" [(ngModel)]="searchText" (keyup)="searchItems()" id="search-input"
                 mdbInput>
          <label for="search-input">Search</label>
        </div>
      </div>
      <div class="col-md-3 mx-right">
        <button mdbBtn type="button" color="primary" rounded="true" (click)="basicModal.show()" mdbWavesEffect>Add new classe</button>
      </div>
      <table mdbTable #tableEl="mdbTable" stickyHeader="true" hover="true" striped="true" class="z-depth-1">
        <thead class="sticky-top">
        <tr>
          <th *ngFor="let head of headElements; let i = index" [mdbTableSort]="classes" [sortBy]="headElements[i]"
              scope="col">{{head | titlecase}} <mdb-icon fas icon="sort"></mdb-icon>
          </th>
        </tr>
        </thead>
        <tbody #row *ngIf="classes">
        <tr mdbTableCol  *ngFor="let el of classes; let i = index">
          <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" scope="row">{{el.code}}</th>
          <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" class="red-text">{{el.libelle}}</td>
          <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.nbre_max_etudiant}}</td>

          <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">



           <!-- Grid row -->
       <div class="form-row">
        <!-- Grid column -->


        <div class="col-md-2">
          <a (click)="updateclasseForm(el);updateModal.show()"> <mat-icon svgIcon="edit" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon> </a>
        </div>

        <div class="col-md-2">
          <a (click)="frame.show()"> <mat-icon svgIcon="delete" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon> </a>
        </div>

       </div>

       <div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
       aria-labelledby="myModalLabel" aria-hidden="true">
       <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
         <!--Content-->
         <div class="modal-content text-center">
           <!--Header-->
           <div class="modal-header d-flex justify-content-center">
             <p class="heading">Are you sure?</p>
           </div>

           <!--Body-->
           <div class="modal-body">
             <mdb-icon fas icon="times" size="4x" class="animated rotateIn"></mdb-icon>
           </div>

           <!--Footer-->
           <div class="modal-footer justify-content-center">
             <a (click)="deleteClasses(el)" mdbBtn color="danger" outline="true" class="waves-effect"
               mdbWavesEffect>Yes</a>
             <a type="button" mdbBtn color="danger" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="frame.hide()">No</a>
           </div>
         </div>
         <!--/.Content-->
       </div>
     </div>





            <!-- <button mdbBtn color="warning" size="" mdbWavesEffect (click)="editRow(el)">Edit</button>
            <button mdbBtn color="danger" size="sm" mdbWavesEffect (click)="removeRow1(el)">R</button>
            <button mdbBtn color="danger" size="sm" mdbWavesEffect (click)="removeRow1(el)">view</button> -->
          </td>



        </tr>
        </tbody>
        <tfoot class="grey lighten-5 w-100">
        <tr>
          <td colspan="4">

            <mdb-table-pagination [tableEl]="tableEl" paginationAlign="paginator" [searchDataSource]="classes" ></mdb-table-pagination>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>


  <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel">Add Classe</h4>
        </div>
        <div class="modal-body">

       <!--    <div class="form-row">
            <div class="col-md-12">

              <div class="md-form form-group">
                <p class="text-center text-primary" >{{detailEtudiant.numStudent}} - {{detailEtudiant.firstName}} {{detailEtudiant.lastName}}</p>
              </div>
            </div>
          </div> -->



          <form [formGroup]="classeForm">

           <div class="form-row">
            <div class="col-md-12">
              <div class="md-form form-group">
                <input mdbInput type="text" class="form-control" id="inputName6" formControlName="code"  placeholder="">
                <label for="inputEmail4MD">Code</label>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-12">
              <div class="md-form form-group">
                <input mdbInput type="text" class="form-control" id="inputLibelle" formControlName="libelle"  placeholder="">
                <label for="inputEmail4MD">Libelle</label>
              </div>
            </div>
          </div>

           <div class="form-row">
            <div class="col-md-12">
              <div class="md-form form-group">
                <input mdbInput type="number" class="form-control"  id="inputNbr" formControlName="nbre_max_etudiant"  placeholder="">
                <label for="inputNbr">Nombre Maximun d'etudiants</label>

              </div>
            </div>
          </div>



        </form>

        </div>
        <div class="modal-footer">
          <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button>
          <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="postClasse()" (click)="basicModal.hide()" mdbWavesEffect>Save</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Update Classe-->

  <div mdbModal #updateModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="updateModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel">Update Classe</h4>
        </div>
        <div class="modal-body">


          <form [formGroup]="classeForm">

           <div class="form-row">
            <div class="col-md-12">
              <div class="md-form form-group">
                <input mdbInput type="text" class="form-control"  id="inputName7" formControlName="code"  placeholder="">
                <label for="input7">Code</label>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-12">
              <div class="md-form form-group">
                <input mdbInput type="text" class="form-control"  id="inputLibelle1" formControlName="libelle"  placeholder="">
                <label for="inputLibelle1">Libelle</label>
              </div>
            </div>
          </div>

           <div class="form-row">
            <div class="col-md-12">
              <div class="md-form form-group">
                <input mdbInput type="number" class="form-control"  id="inputNbr1" formControlName="nbre_max_etudiant"  placeholder="">
                <label for="inputNb1r">Nombre Maximun d'etudiants</label>

              </div>
            </div>
          </div>



        </form>

        </div>
        <div class="modal-footer">
          <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="updateModal.hide()" mdbWavesEffect>Close</button>
          <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="updateClasse()" (click)="updateModal.hide()" mdbWavesEffect>Save</button>
        </div>
      </div>
    </div>
  </div>

</div>

