
  <div class="scrollspy-example z-depth-1 mt-4 px-5">

  </div>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

      <mdb-carousel   class="carousel slide carousel-fade ml-1"    [animation]="'fade'">

        <mdb-carousel-item>
          <div>
            <img  src="assets/images/1.jpg" class="img-fluid z-depth-1" alt="1">
            <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
          </div>

        </mdb-carousel-item>

        <mdb-carousel-item>
          <div>
            <img  src="assets/images/2.jpg"  class="img-fluid z-depth-1" alt="1">
            <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
          </div>

        </mdb-carousel-item>

        <mdb-carousel-item>
          <div  >
            <img src="assets/images/3.jpg"  class="img-fluid" alt="Responsive image">
            <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
          </div>

        </mdb-carousel-item>

      </mdb-carousel>

  </section><!-- End Hero -->

  <div class="container">


<!-- ======= Services Section ======= -->
<section id="services" class="services">
  <div class="container" >

  <div class="section-title">
    <h2>Services</h2>
    <h3>Check our <span>Services</span></h3>
    <p>There will be three options for the tuition.</p>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
      <div class="icon-box">
        <div class="icon" ><img src="assets/images/bronze.jpeg" class="img-fluid" alt=""></div>
        <h4><a href="">The bronze membership</a></h4>
        <p>Is <strong>$250</strong> a week no refundable.</p>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
      <div class="icon-box">
        <div class="icon" ><img src="assets/images/silver.jpeg" class="img-fluid" alt=""></div>
        <h4><a href="">The silver membership</a></h4>
        <p>is <strong>$1000</strong> a month. If you decide to drop off an extra <strong>25%</strong> is deducted of you payment before payment .</p>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
      <div class="icon-box">
        <div class="icon" ><img src="assets/images/gold.jpeg" class="img-fluid" alt=""></div>
        <h4><a href="">The gold membership</a></h4>
        <p>is <strong>$12000</strong> a year. If you decide to drop an extra <strong>30%</strong>is deducted of your payment before refund is applied.</p>
      </div>
    </div>

   <!--  <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
      <div class="icon-box">
        <div class="icon"><i class="bx bx-world"></i></div>
        <h4><a href="">Nemo Enim</a></h4>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
      <div class="icon-box">
        <div class="icon"><i class="bx bx-slideshow"></i></div>
        <h4><a href="">Dele cardo</a></h4>
        <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
      <div class="icon-box">
        <div class="icon"><i class="bx bx-arch"></i></div>
        <h4><a href="">Divera don</a></h4>
        <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
      </div>
    </div> -->

  </div>

  </div>
  </section><!-- End Services Section -->



  <!-- ======= Portfolio Section ======= -->
  <section mdbScrollSpyElement="scrollspy1" id="home" id="portfolio" class="portfolio">
  <div class="container" data-aos="fade-up">

  <div class="section-title">
  <h2>Gallery</h2>
  <h3>Check our <span>Gallery</span></h3>
  <!-- <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p> -->
  </div>



  <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200" *ngIf="numGallery == 0">

  <div class="col-lg-4 col-md-6 portfolio-item" *ngFor="let img of imageData">
    <p class="container" gallerize>
      <img [src]="img.srcUrl" class="img-fluid" alt="">
    </p>

    <div class="portfolio-info">
      <h4>App 1</h4>
      <p>App</p>
      <a [href]="img.srcUrl" data-gall="portfolioGallery" class="venobox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
      <a routerLink="/conroe" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
    </div>

  </div>
  </div>



  </div>
  </section><!-- End Portfolio Section -->



  <!-- Section: Blog v.3 -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about section-bg">
  <div class="container" data-aos="fade-up">

  <div class="section-title">
    <h2>About</h2>
    <h3>Find Out More <span>About Us</span></h3>
   <!--  <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p> -->
  </div>

  <div class="row">
    <div class="col-lg-6" data-aos="zoom-out" data-aos-delay="100">
      <mdb-carousel [animation]="'slide'">
        <mdb-carousel-item>
          <img class="d-block w-100" src="assets/images/about.jpeg" alt="First slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block w-100" src="assets/images/about1.jpeg"  alt="Second slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block w-100" src="assets/images/about2.jpeg"  alt="Third slide">
        </mdb-carousel-item>
      </mdb-carousel>
    </div>
    <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
      <h3>About Committed to Education.</h3>
      <p class="font-italic">
        Over the years, our reputation has grown as our professionalism go on to become knowledgeable in the field.
        Through engaging and hands-on educational opportunities, Nay's Hair Braiding School wants to cultivates future industry leaders.
        If this is what you’re looking for, please don’t hesitate to get in touch to learn more and join our growing community.
      </p>
       <ul>
        <li>
          <div>
            <p><mdb-icon fas icon="home" size="2x" class="pink-text ml-3" aria-hidden="true"></mdb-icon> 3128 Richmond road Lexington Kentucky 40509</p>
          </div>

        </li>

        <li>
          <div>
            <p><mdb-icon fas icon="phone-alt" size="2x" class="pink-text ml-3" aria-hidden="true"></mdb-icon> 859 33 56 006</p>
          </div>
        </li>
      </ul>
      <p>
      <!--   Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
        culpa qui officia deserunt mollit anim id est laborum -->
      </p>
    </div>
  </div>

  </div>
  </section><!-- End About Section -->




  </div>
