

<div class="container">

  <mdb-breadcrumb>
    <mdb-breadcrumb-item class="blue-text">Scolarite</mdb-breadcrumb-item>
    <mdb-breadcrumb-item class="blue-text">Cours</mdb-breadcrumb-item>
    <mdb-breadcrumb-item class="active">List Cours</mdb-breadcrumb-item>
  </mdb-breadcrumb>

   <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="md-form">
          <input type="text" class="form-control" [(ngModel)]="searchText" (keyup)="searchItems()" id="search-input"
                 mdbInput>
          <label for="search-input">Search</label>
        </div>
      </div>
      <div class="col-md-3 mx-right">
        <button mdbBtn type="button" color="primary" rounded="true" (click)="basicModal.show()" mdbWavesEffect>Add new classe</button>
      </div>
      <table mdbTable #tableEl="mdbTable" stickyHeader="true" hover="true" striped="true" class="z-depth-1">
        <thead class="sticky-top">
        <tr>
          <th *ngFor="let head of headElements; let i = index" [mdbTableSort]="cours" [sortBy]="headElements[i]"
              scope="col">{{head | titlecase}} <mdb-icon fas icon="sort"></mdb-icon>
          </th>
        </tr>
        </thead>
        <tbody #row *ngIf="cours">
        <tr mdbTableCol  *ngFor="let el of cours; let i = index">
          <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" scope="row">{{el.code}}</th>
          <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" class="red-text">{{el.libelle}}</td>
          <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" class="red-text">{{el.programme.code_programme}}-{{el.programme.libelle}}</td>
          <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.description}}</td>

          <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">



           <!-- Grid row -->
            <div class="form-row">
              <!-- Grid column -->
              <div class="col-md-2">
                <a> <mdb-icon fas icon="file-upload" mdbTooltip="file-upload" placement="top"></mdb-icon></a>
              </div>

              <div class="col-md-2">
                <a (click)="updateModal.show();updateCours(el)"> <mat-icon svgIcon="edit" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon> </a>
              </div>

              <div class="col-md-2">
                <a (click)="frame.show()" > <mat-icon svgIcon="delete" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon> </a>
              </div>

            </div>


          <div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
          aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
            <!--Content-->
            <div class="modal-content text-center">
              <!--Header-->
              <div class="modal-header d-flex justify-content-center">
                <p class="heading">Are you sure?</p>
              </div>

              <!--Body-->
              <div class="modal-body">
                <mdb-icon fas icon="times" size="4x" class="animated rotateIn"></mdb-icon>
              </div>

              <!--Footer-->
              <div class="modal-footer justify-content-center">
                <a (click)="deleteCours(el)" mdbBtn color="danger" outline="true" class="waves-effect"
                  mdbWavesEffect>Yes</a>
                <a type="button" mdbBtn color="danger" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="frame.hide()">No</a>
              </div>
            </div>
            <!--/.Content-->
          </div>
        </div>
  <!-- Update cours -->



            <!-- <button mdbBtn color="warning" size="" mdbWavesEffect (click)="editRow(el)">Edit</button>
            <button mdbBtn color="danger" size="sm" mdbWavesEffect (click)="removeRow1(el)">R</button>
            <button mdbBtn color="danger" size="sm" mdbWavesEffect (click)="removeRow1(el)">view</button> -->
          </td>

        </tr>
        </tbody>
        <tfoot class="grey lighten-5 w-100">
        <tr>
          <td colspan="4">

            <mdb-table-pagination [tableEl]="tableEl" paginationAlign="paginator" [searchDataSource]="cours" ></mdb-table-pagination>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>



  <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel">Add Cours</h4>
        </div>
        <div class="modal-body">

       <!--    <div class="form-row">
            <div class="col-md-12">

              <div class="md-form form-group">
                <p class="text-center text-primary" >{{detailEtudiant.numStudent}} - {{detailEtudiant.firstName}} {{detailEtudiant.lastName}}</p>
              </div>
            </div>
          </div> -->

          <div class="form-row">
            <div class="col-md-12">
              <!-- Material input -->
              <div class="form-group">
                <label for="contactMethod">Programme</label>
                <select
                    name="contactMethod"
                    id="contactMethod"
                    class="form-control"
                    (click)="getOneProgramme()"
                    [(ngModel)]="idProgramme">
                    <option *ngFor="let method of programmes" [value]="method.id">{{ method.code_programme }} - {{method.libelle}}</option>
                </select>
            </div>
            </div>
          </div>



          <form [formGroup]="coursForm">

           <div class="form-row">
            <div class="col-md-12">
              <div class="md-form form-group">
                <input mdbInput type="text" class="form-control" id="inputName6" formControlName="code"  placeholder="">
                <label for="inputEmail4MD">Code</label>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-12">
              <div class="md-form form-group">
                <input mdbInput type="text" class="form-control" id="inputLibelle" formControlName="libelle"  placeholder="">
                <label for="inputEmail4MD">Libelle</label>
              </div>
            </div>
          </div>

           <div class="form-row">
            <div class="col-md-12">
              <div class="md-form form-group">

              <input type="file"  placeholder="" (change)="onSelectFile($event)" >
              </div>
            </div>
          </div>


          <div class="form-row">
            <div class="col-md-12">

              <div class="md-form form-group">
                <p>Description:</p>
                <textarea mdbInput type="text" class="form-control" id="inputDes" formControlName="description"  placeholder=""></textarea>
              </div>
            </div>
          </div>
        </form>

        </div>
        <div class="modal-footer">
          <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button>
          <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="postCours()" (click)="basicModal.hide()" mdbWavesEffect>Save</button>
        </div>
      </div>
    </div>
  </div>


  <div mdbModal #updateModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="updateModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel">Update Cours</h4>
        </div>
        <div class="modal-body">

       <!--    <div class="form-row">
            <div class="col-md-12">

              <div class="md-form form-group">
                <p class="text-center text-primary" >{{detailEtudiant.numStudent}} - {{detailEtudiant.firstName}} {{detailEtudiant.lastName}}</p>
              </div>
            </div>
          </div> -->

          <div class="form-row">
            <div class="col-md-12">
              <!-- Material input -->
              <div class="md-form form-group">
                <p>Programme</p>
                <select class="browser-default custom-select" (click)="getOneProgramme()" [(ngModel)]="idProgramme">
                  <option  *ngFor="let val of programmes" value="{{val.id}}"> {{val.code_programme}} - {{val.libelle}} </option>
                </select>
              </div>
            </div>
          </div>

          <form [formGroup]="coursForm">

           <div class="form-row">
            <div class="col-md-12">
              <div class="md-form form-group">
                <input mdbInput type="text" class="form-control" id="inputName" formControlName="code"  placeholder="">
                <label for="inputName">Code</label>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-12">
              <div class="md-form form-group">
                <input mdbInput type="text" class="form-control" id="inputLibelle1" formControlName="libelle"  placeholder="">
                <label for="inputLibelle1">Libelle</label>
              </div>
            </div>
          </div>

           <div class="form-row">
            <div class="col-md-12">
              <div class="md-form form-group">

              <input type="file"  placeholder="" (change)="onSelectFile($event)" >
              </div>
            </div>
          </div>


          <div class="form-row">
            <div class="col-md-12">

              <div class="md-form form-group">
                <p>Description:</p>
                <textarea mdbInput type="text" class="form-control" id="inputDes1" formControlName="description"  placeholder=""></textarea>
              </div>
            </div>
          </div>
        </form>

        </div>
        <div class="modal-footer">
          <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="updateModal.hide()" mdbWavesEffect>Close</button>
          <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="postUpdate()" (click)="updateModal.hide()" mdbWavesEffect>Save</button>
        </div>
      </div>
    </div>
  </div>




</div>



