<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <div style="height: 550px;">
        <ngb-carousel>
          <ng-template ngbSlide>
            <img class="img-responsive" width="1900" height="700"  src="assets/img/theme/img-1-1200x1000.jpg" alt="First slide">
          </ng-template>
          <ng-template ngbSlide>
            <img class="img-responsive" width="1900" height="700" src="assets/img/theme/img-2-1200x1000.jpg" alt="Second slide">
          </ng-template>
          <ng-template ngbSlide>
            <img class="img-responsive" width="1900" height="700" src="assets/img/theme/img-1-1200x1000.jpg" alt="Third slide">
          </ng-template>
      </ngb-carousel>
      </div>
   
    </section>
  </div>
  
  <app-sections></app-sections>
</main>
