<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <div class="view w-100" style="height: 600px;" >
      <img  src="assets/images/1.jpg" class="img-fluid z-depth-1" alt="1">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100"  style="height: 600px;" >
      <img  src="assets/images/2.jpg" class="img-fluid z-depth-1" alt="1">
      <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100" style="height: 600px;" >
      <img src="assets/images/3.jpg" class="img-fluid" alt="Responsive image">
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      
    </div>
  </mdb-carousel-item>
</mdb-carousel>

<!-- Section: Blog v.3 -->
<section class="my-3">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">Options for the tuition</h2>
  <!-- Section description -->
  <!-- <p class="text-center dark-grey-text w-responsive mx-auto mb-5">Duis aute irure dolor in reprehenderit in
    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->


<!-- Card deck -->
<div class="card-deck">

  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
        alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">the bronze membership</h4>
      <!--Text-->
      <p class="card-text">Is <strong>$250</strong> a week no refundable.</p> <br/> <br/>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <button type="button" class="btn btn-light-blue btn-md">Read more</button>

    </div>

  </div>
  <!-- Card -->

  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/14.jpg"
        alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">The silver membership</h4>
      <!--Text-->
      <p class="card-text">is <strong>$1000</strong> a month. If you decide to drop off an extra <strong>25%</strong> is deducted of you payment before payment .</p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <button type="button" class="btn btn-light-blue btn-md">Read more</button>

    </div>

  </div>
  <!-- Card -->

  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg"
        alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">The gold membership</h4>
      <!--Text-->
      <p class="card-text">is <strong>$12000</strong> a year. If you decide to drop an extra <strong>30%</strong>is deducted of your payment before refund is applied..</p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
    
      <button type="button" class="btn btn-light-blue btn-md">Read more</button>

    </div>

  </div>
  <!-- Card -->

</div>
<!-- Card deck -->

</section>
<!-- Section: Blog v.3 -->



