

<mdb-breadcrumb>
  <mdb-breadcrumb-item class="blue-text">Home</mdb-breadcrumb-item>
  <mdb-breadcrumb-item class="blue-text">Registration</mdb-breadcrumb-item>
  <mdb-breadcrumb-item class="active">New studient</mdb-breadcrumb-item>
</mdb-breadcrumb>

<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="etudiantForm" >
    <form [formGroup]="etudiantForm">
      <ng-template matStepLabel>Fill out your name</ng-template>
      <mdb-card>

        <mdb-card-header>
          <h4>Student Informations</h4>
        </mdb-card-header>

        <mdb-card-body>


            <!--Card image-->
            <img src="assets/images/profil.jpeg" width="200px" *ngIf="dataimage == undefined">
            <img src="{{dataimage}}" width="200px" >
            <!--Card content-->


              <!--Title-->
              <mdb-card-title>
                <h4>Profile picture</h4>
              </mdb-card-title>

              <mat-form-field>
                <div>
                  <mat-toolbar>
                    <!-- Display files names -->
                    <input matInput  readonly name="name" />

                    <!-- Browse Button -->
                    <button mat-flat-button color="primary">
                      Choose picture
                    </button>
                  </mat-toolbar>

                  <!-- Fetch selected filed on change -->
                  <input type="file" #fileInput id="uploadFile" (change)="uploadFileEvt($event)" name="uploadFile"
                    accept="image/*"  />
                </div>
              </mat-form-field>
<p></p>

             <!-- Grid row -->
             <div class="form-row">
              <!-- Grid column -->
              <div class="col-md-6">
                <!-- Material input -->
                <div class="md-form form-group">
                  <input mdbInput type="text" class="form-control" id="inputName4" formControlName="firstName"  placeholder="" >
                  <label for="inputEmail4MD">FirstName</label>
                </div>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-6">
                <!-- Material input -->
                <div class="md-form form-group">
                  <input mdbInput type="text" id="inputName5" class="form-control" formControlName="lastName"  placeholder="">
                  <label for="inputPassword4MD">LastName</label>
                </div>
            </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->

            <!-- Grid row -->
            <div class="row">
              <!-- Grid column -->
              <div class="col-md-6">
                <!-- Material input -->
                <div class="md-form form-group">
                  <input mdbInput type="text" class="form-control" id="inputAddress" formControlName="address"  placeholder="">
                  <label for="inputAddressMD">Address</label>
                </div>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-6">
                <!-- Material input -->
                <div class="md-form form-group">
                  <input mdbInput type="text" class="form-control" id="inputCity" formControlName="nationalite"  placeholder="">
                  <label for="inputAddress2MD">City</label>
                </div>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->

            <!-- Grid row -->
            <div class="form-row">
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-6">
                <!-- Material input -->
                <div class="md-form form-group">
                  <input mdbInput type="number" class="form-control"  id="inputTel4" formControlName="tel"  placeholder="">
                  <label for="inputZipMD">Phone Number</label>
                </div>
              </div>

              <div class="col-md-6">
                <!-- Material input -->
                <div class="md-form">
                  <input mdbInput  type="email" class="form-control" id="form8" formControlName="email"  placeholder="exemple@exemple.com">
                  <label for="form8">Email</label>
                </div>
              </div>


              <!-- Grid column -->
              <!-- Grid column -->
            </div>
            <!-- Grid row -->


        </mdb-card-body>


               <mdb-card-header>
                <h4>Reference contact Informations</h4>
               </mdb-card-header>
               <mdb-card-body>

                 <!-- Grid row -->
                 <div class="form-row">
                  <!-- Grid column -->
                  <div class="col-md-6">
                    <!-- Material input -->
                    <div class="md-form form-group">
                      <p>Reference contact</p>
                      <select   class="form-control" formControlName="typeTuteur" >
                        <option value="Father">Father</option>
                        <option value="Mother">Mother</option>
                        <option value="Uncle">Uncle</option>
                        <option value="Aunt">Aunt</option>
                      </select>
                    </div>
                  </div>
                 </div>
                  <!-- Grid column -->


                <!-- Grid row -->
                <div class="form-row">
                  <!-- Grid column -->
                  <div class="col-md-6">
                    <!-- Material input -->
                    <div class="md-form form-group">
                      <input mdbInput type="text" class="form-control" id="inputName6" formControlName="firstNameTuteur"  placeholder="">
                      <label for="inputEmail4MD">FirstName</label>
                    </div>
                  </div>
                  <!-- Grid column -->

                  <!-- Grid column -->
                  <div class="col-md-6">
                    <!-- Material input -->
                    <div class="md-form form-group">
                      <input mdbInput type="text" id="inputName7" class="form-control" formControlName="lastNameTuteur"  placeholder="">
                      <label for="inputPassword4MD">LastName</label>
                    </div>
                  </div>
                  <!-- Grid column -->
                </div>
                <!-- Grid row -->

                <!-- Grid row -->
                <div class="form-row">
                  <!-- Grid column -->

                  <!-- Grid column -->
                  <div class="col-md-6">
                    <!-- Material input -->
                    <div class="md-form form-group">
                      <input mdbInput type="tel" class="form-control"  id="inputName8" formControlName="telTuteur"  placeholder="">
                      <label for="inputZipMD">Phone Number</label>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <!-- Material input -->
                    <div class="md-form form-group">
                      <input mdbInput type="email"  class="form-control" id="inputEmail1" formControlName="emailTuteur"  placeholder="exemple@exemple.com">
                      <label for="inputCityMD">Email</label>
                    </div>
                  </div>
                  <!-- Grid column -->
                  <!-- Grid column -->
                </div>
                <!-- Grid row -->


        </mdb-card-body>

        <mdb-card-footer>
          <div>
            <button mdbBtn color="success" mat-button matStepperNext>Next</button>
          </div>
        </mdb-card-footer>



      </mdb-card>

    </form>

  </mat-step>

  <mat-step [stepControl]="cardFormGroup" label="Registration fees" [optional]="isOptional">
    <form [formGroup]="cardFormGroup">

      <mdb-card>

        <mdb-card-header>
          <h4> <strong>Registration fees =$120 no refundable</strong>  </h4>
        </mdb-card-header>

        <mdb-card-body>

                <!-- Grid row -->
            <div class="form-row">
              <!-- Grid column -->
              <div class="col-md-12">
                <!-- Material input -->
                <div class="md-form form-group">
                  <p>Mode de paiment</p>
                  <select (click)="onOption()"  class="browser-default custom-select"  class="form-control" formControlName="firstCtrl" >
                    <option  *ngFor="let val of optionPay" value="{{val.value}}">{{val.value}}</option>
                  </select>


                </div>
              </div>
            </div>

        </mdb-card-body>



          <div *ngIf="op == 0">

            <div class="form-row">
              <div class="col-md-12">
                <!-- Material input -->
                <div class="md-form form-group">
                  <input mdbInput type="text" class="form-control" id="inputNameCard" formControlName="cardNumber"  placeholder="">
                  <label for="inputCard4MD">Card Number</label>
                </div>
              </div>
            </div>
            <!-- Grid row -->

            <p></p>
            <div class="form-row">
              <div class="col-md-6">
                <!-- Material input -->
                <div class="md-form form-group">
                  <input mdbInput type="text" class="form-control" id="inputNameExpiraty" formControlName="expiratyDate"  placeholder="">
                  <label for="inputExpiraty4MD">Expiry date</label>
                </div>
              </div>
              <div class="col-md-6">
                <!-- Material input -->
                <div class="md-form form-group">
                  <input mdbInput type="text" class="form-control" id="inputNameCvv" formControlName="cvv"  placeholder="">
                  <label for="inputCvv4MD">CVV</label>
                </div>
              </div>
            </div>

          </div>

          <div *ngIf="op == 1">
            <p>You have chosen payment by ticketing.</p>
          </div>

        <mdb-card-footer>

          <div class="form-row">
            <div class="col-md-2">
              <!-- Material input -->
              <div class="md-form form-group">
                <button mdbBtn color="default" mat-button matStepperPrevious>Back</button>
              </div>
            </div>
            <div class="col-md-2">
              <!-- Material input -->
              <div class="md-form form-group">
                <button mdbBtn color="success" mat-button matStepperNext (click)="saveEtudiant(etudiantForm)">Validate</button>
              </div>
            </div>
          </div>



        </mdb-card-footer>


      </mdb-card>


    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>

   <!-- Details Etudiant-->
  <mdb-card>
   <mdb-card-header>
    <h4>Infos Student</h4>
  </mdb-card-header>

  <mdb-card-body>

       <!-- Grid row -->
       <div class="form-row">
        <!-- Grid column -->
        <div class="col-md-6">
          <!-- Material input -->
          <div class="md-form form-group">
            <input disabled='true' value="{{detailEtudiant.firstName}}" mdbInput type="text" class="form-control"  >
            <label for="inputEmail4MD">FirstName</label>
          </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6">
          <!-- Material input -->
          <div class="md-form form-group">
            <input mdbInput type="text"  class="form-control"   disabled='true' value="{{detailEtudiant.lastName}}">
            <label for="inputPassword4MD">LastName</label>
          </div>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->

      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-6">
          <!-- Material input -->
          <div class="md-form form-group">
            <input mdbInput type="text" class="form-control"    disabled='true' value="{{detailEtudiant.address}}">
            <label for="inputAddressMD">Address</label>
          </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6">
          <!-- Material input -->
          <div class="md-form form-group">
            <input mdbInput type="text" class="form-control"    disabled='true' value="{{detailEtudiant.nationalite}}">
            <label for="inputAddress2MD">City</label>
          </div>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->

      <!-- Grid row -->
      <div class="form-row">
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6">
          <!-- Material input -->
          <div class="md-form form-group">
            <input mdbInput type="number" class="form-control"     disabled='true' value="{{detailEtudiant.tel}}">
            <label for="inputZipMD">Phone Number</label>
          </div>
        </div>

        <div class="col-md-6">
          <!-- Material input -->
          <div class="md-form form-group">
            <input mdbInput type="email" class="form-control"   disabled='true' value="{{detailEtudiant.email}}">
            <label for="inputCityMD">Email</label>
          </div>
        </div>


        <!-- Grid column -->
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
  </mdb-card-body>


         <mdb-card-header>
          <h4>Infos Tuteur</h4>
         </mdb-card-header>
         <mdb-card-body>

           <!-- Grid row -->
           <div class="form-row">
            <!-- Grid column -->
            <div class="col-md-6">
              <!-- Material input -->
              <div class="md-form form-group">
                <p>Type de tuteur</p>
                <input mdbInput type="email" class="form-control"   disabled='true' value="{{detailEtudiant.tuteur.typeTuteur}}">
              </div>
            </div>
           </div>
            <!-- Grid column -->


          <!-- Grid row -->
          <div class="form-row">
            <!-- Grid column -->
            <div class="col-md-6">
              <!-- Material input -->
              <div class="md-form form-group">
                <input mdbInput type="text" class="form-control"   disabled='true' value="{{detailEtudiant.tuteur.prenom}}">
                <label for="inputEmail4MD">FirstName</label>
              </div>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6">
              <!-- Material input -->
              <div class="md-form form-group">
                <input mdbInput type="text"  class="form-control"  disabled='true' value="{{detailEtudiant.tuteur.nom}}">
                <label for="inputPassword4MD">LastName</label>
              </div>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->

          <!-- Grid row -->
          <div class="form-row">
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6">
              <!-- Material input -->
              <div class="md-form form-group">
                <input mdbInput type="tel" class="form-control"    disabled='true' value="{{detailEtudiant.tuteur.tel}}">
                <label for="inputZipMD">Phone Number</label>
              </div>
            </div>

            <div class="col-md-6">
              <!-- Material input -->
              <div class="md-form form-group">
                <input mdbInput type="email"  class="form-control"   disabled='true' value="{{detailEtudiant.tuteur.email}}">
                <label for="inputCityMD">Email</label>
              </div>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
          </div>
          <!-- Grid row -->


  </mdb-card-body>

   <mdb-card-footer>

    <div class="form-row">
      <div class="col-md-2">
        <!-- Material input -->
        <div class="md-form form-group">
          <button mdbBtn color="default" mat-button matStepperPrevious>Update</button>
        </div>
      </div>
      <div class="col-md-2">
        <!-- Material input -->
        <div class="md-form form-group">
          <button mdbBtn color="success" mat-button matStepperNext (click)="stepper.reset()">Ok</button>
        </div>
      </div>
    </div>


   </mdb-card-footer>

  </mdb-card>

   <!--End details Etudiant-->

  </mat-step>
</mat-horizontal-stepper>

