<mdb-breadcrumb>
  <mdb-breadcrumb-item class="blue-text">Home</mdb-breadcrumb-item>
  <mdb-breadcrumb-item class="blue-text">Library</mdb-breadcrumb-item>
  <mdb-breadcrumb-item class="active">Data</mdb-breadcrumb-item>
</mdb-breadcrumb>


      <mdb-card>

        <mdb-card-body>

          <div class="form-row">
            <!-- <div class="col-md-3">

              <div class="md-form form-group">
                <input mdbInput type="text" class="form-control" id="inputNameExpiraty" formControlName="contactFormName"  placeholder="">
                <label for="inputExpiraty4MD">Student number</label>
              </div>
            </div>
            <div class="col-md-3">

              <div class="md-form form-group">
                <input mdbInput type="text" class="form-control" id="inputNameCvv" formControlName="contactFormSubjects"  placeholder="">
                <label for="inputCvv4MD">Student name</label>
              </div>
            </div> -->

            <div class="col-md-6">
              <!-- Material input -->
              <div class="md-form form-group">
                <p>Programme</p>
                <select class="browser-default custom-select" [(ngModel)]="idProgramme">
                  <option  *ngFor="let val of programmes" value="{{val.id}}"> {{val.code_programme}} - {{val.libelle}} </option>
                </select>
              </div>
            </div>

            <div class="col-md-6">
              <!-- Material input -->

              <div class="md-form form-group">
                <p>Classe</p>
                <select class="browser-default custom-select">
                  <option  *ngFor="let val of classes" value="{{val.id}}">{{val.code}} - {{val.libelle}}</option>
                </select>

              </div>
            </div>

            <div class="col-md-6">
              <!-- Material input -->

              <div class="md-form form-group">
                <h3><strong>Tuition:</strong> {{p}}</h3>


              </div>
            </div>

          </div>
        </mdb-card-body>


      </mdb-card>
      <p></p>

      <mdb-card>

        <mdb-card-header>
          <form [formGroup]="contactForm"></form>
          <div class="form-row">
            <div class="col-md-4">

              <div class="md-form form-group">
                <input mdbInput type="text" class="form-control" id="inputNameExpiraty" formControlName="contactFormName"  placeholder="">
                <label for="inputExpiraty4MD">Student number</label>
              </div>
            </div>
            <div class="col-md-4">

              <div class="md-form form-group">
                <input mdbInput type="text" class="form-control" id="inputNameCvv" [ngModel]="" placeholder="">
                <label for="inputCvv4MD">Student name</label>
              </div>
            </div>

            <div class="col-md-4">

              <div class="md-form form-group">
                <button (click)="onSubmit()">Rechercher</button>
              </div>
            </div>

          </div>
        </mdb-card-header>
        <mdb-card-body *ngIf="etudiant != null">
          <p>Test</p>
        </mdb-card-body>



      </mdb-card>
      <p></p>
      <mdb-card  *ngIf="etudiant">
        <div class="row">
          <div class="col-md-6">

            <mdb-card>

              <mdb-card-header class="info-color white-text text-left py-2">
                <h5>
                  Information de l'etudiant
                </h5>
              </mdb-card-header>

              <!--Card content-->
              <mdb-card-body class="px-lg-5 pt-0">

                <!-- Form -->
                <form class="text-center" style="color: #757575;">



                  <div class="form-row">
                    <div class="col">
                      <!-- First name -->
                      <div class="md-form">
                        <input type="text" id="materialRegisterFormFirstName" class="form-control" disabled="true" value="{{detailEtudiant.firstName}}" mdbInput>
                        <label for="materialRegisterFormFirstName">First name</label>
                      </div>
                    </div>
                    <div class="col">
                      <!-- Last name -->
                      <div class="md-form">
                        <input type="email" id="materialRegisterFormLastName" class="form-control" disabled="true" value="{{detailEtudiant.lastName}}" mdbInput>
                        <label for="materialRegisterFormLastName">Last name</label>
                      </div>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col">
                      <!-- First name -->
                      <div class="md-form">
                        <input type="text" id="materialRegisterFormAddress" class="form-control" disabled="true" value="{{detailEtudiant.address}}" mdbInput>
                        <label for="materialRegisterFormAddress">Address</label>
                      </div>
                    </div>
                    <div class="col">
                      <!-- Last name -->
                      <div class="md-form">
                        <input type="email" id="materialRegisterFormLastName" class="form-control" disabled="true" value="{{detailEtudiant.nationalite}}" mdbInput>
                        <label for="materialRegisterFormCity">City</label>
                      </div>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col">
                      <!-- First name -->
                      <div class="md-form">
                        <input type="text" id="materialRegisterFormTel" class="form-control" disabled="true" value="{{detailEtudiant.tel}}" mdbInput>
                        <label for="materialRegisterFormTel">Phone number</label>
                      </div>
                    </div>
                    <div class="col">
                      <!-- Last name -->
                      <div class="md-form">
                        <input type="email" id="materialRegisterFormEmail" class="form-control" disabled="true" value="{{detailEtudiant.email}}" mdbInput>
                        <label for="materialRegisterFormEmail">Email</label>
                      </div>
                    </div>
                  </div>


                </form>
                <!-- Form -->

              </mdb-card-body>

            </mdb-card>

          </div>

          <div class="col-md-2">

          </div>

        </div>

      </mdb-card>



